div.code.note {
  background-color: #ddeeee;
  box-shadow: 0 0 6px black;
  color: black;
  text-align: left;
  font-family: monospace;
  font-size: 100%;
  line-height: 1.2em; }

p.note {
  box-shadow: 0 0 6px black;
  font-size: 100%;
  line-height: 1.2em; }

div.note {
  box-shadow: 0 0 6px black;
  font-size: 100%;
  line-height: 1.2em;
  padding: 10px; }
  div.note p {
    text-align: left; }

.reveal .slides img.collabocats {
  border: none;
  box-shadow: none;
  width: 300px; }

div.bash, span.bash {
  font-family: monospace;
  white-space: pre;
  text-align: left;
  color: white;
  background-color: black;
  line-height: 1.2em; }

div.bash {
  overflow: auto;
  color: white;
  font-size: 60%;
  max-height: 600px;
  width: 100%;
  padding: 10px; }
  div.bash .comment {
    color: cyan; }

span.bash {
  color: lightgreen; }

span.bash-comment {
  color: yellow; }

p.strong {
  font-weight: bold;
  font-size: 1.2em; }

span.small {
  font-size: 60%; }

i.fa.fa-external-link {
  font-size: 60%; }

.tip {
  color: blue; }

.fa-exclamation-triangle {
  color: red; }

div.slides section table {
  margin-left: auto;
  margin-right: auto; }
  div.slides section table th, div.slides section table td {
    border-width: 1px;
    border-style: solid; }
  div.slides section table td {
    padding: 2px; }
  div.slides section table tr td:first-child {
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px; }

section.summary p {
  font-size: 200%;
  font-weight: bold; }

.vcenter, .slides h1 {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  width: 80%; }

.reveal .slides {
  left: 50px;
  top: 0px; }

.reveal .slides > section {
  left: 0px;
  top: 0px; }
