doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Spock Overview

        meta(name="description", content="Spock Overview")

        include fragments/header.jade

    body
        .reveal
            .slides
                include fragments/title.jade
                include fragments/intro.jade
                include fragments/mocking.jade
                include fragments/basics.jade
                include fragments/extensions.jade
                include fragments/datadriven.jade
                section
                    h1 Q & A
                include fragments/references.jade

                include fragments/reveal_config.jade
