section
    .vcenter
        h2 References
        ul
            li <a href="http://spock-framework.readthedocs.org/en/latest/index.html">Spock Documentation</a>
            li Idiomatic Spock - excellent talk on taking your tests to the next level (<a href="https://www.youtube.com/watch?v=dvDoieRf4po">video</a> and <a href="https://github.com/robfletcher/idiomatic-spock">slides/code</a>)
